In [1]:
import pandas as pd

import mysql.connector

from mysql.connector import Error

In [2]:
try:
    connection = mysql.connector.connect(host='cpanel.insaid.co', 
                                         database='Capstone1', 
                                         user='student', 
                                         password='student')
    
    Query1 = "SELECT * FROM gender_age_train"
    
    Query2 = "SELECT * FROM phone_brand_device_model"
    
# mysql.connector way of retriving the data
    
#     cursor = connection.cursor()
    
#     cursor.execute(Query1)
#     records1 = cursor.fetchall()
#     print("Total number of rows in database is: ", cursor.rowcount)
    
#     cursor.execute(Query2)
#     records2 = cursor.fetchall()
#     print("Total number of rows in database is: ", cursor.rowcount) 


# alternative method using Pandas for retriving data

    df1 = pd.read_sql(Query1,connection)
    print("gender_age_train_df shape = ",df1.shape)
    
    df2 = pd.read_sql(Query2,connection)
    print("phone_brand_device_model_df shape = ",df2.shape)
    
    
except Error as e:
    print("Error reading data from MySQL table", e)
finally:
    if connection.is_connected():
        connection.close()
        #cursor.close()                        #uncomment this line if using mysql.connect method
        print("MySQL connection is closed")

gender_age_train_df shape =  (74645, 4)
phone_brand_device_model_df shape =  (87726, 3)
MySQL connection is closed

In [3]:
df1.head()

             device_id gender  age   group
0 -8076087639492063270      M   35  M32-38
1 -2897161552818060146      M   35  M32-38
2 -8260683887967679142      M   35  M32-38
3 -4938849341048082022      M   30  M29-31
4   245133531816851882      M   30  M29-31

In [4]:
df2.head()

             device_id phone_brand device_model
0  1877775838486905855        vivo          Y13
1 -3766087376657242966          小米         V183
2 -6238937574958215831        OPPO          R7s
3  8973197758510677470          三星        A368t
4 -2015528097870762664          小米      红米Note2

In [5]:
# df1=pd.DataFrame(list(records1))

df1.to_csv('gender_age_train.csv',index=False)

# df2=pd.DataFrame(list(records2))

df2.to_csv('phone_brand_device_model.csv',index=False)

Brand Name	Brand English Mapping
'华为'	'Huawei'
'小米'	'Xiaomi'
'三星'	'Samsung'
'vivo'	'vivo'
'OPPO'	'OPPO'
'魅族'	'Meizu'
'酷派'	'Coolpad'
'乐视'	'LeEco'
'联想 '	'Lenovo'
'HTC'	'HTC'