In [1]:
import warnings
import pandas as pd
import numpy as np
# To display values only upto four decimal places.
np.set_printoptions(precision=5)
# To suppress pandas warnings.
pd.set_option('mode.chained_assignment', None)
# To display all the data in each column
pd.set_option('display.max_colwidth', None)
# To display all the columns
pd.set_option('display.max_columns', None)
# To display all the rows 
# pd.set_option('display.max_rows', None)
# To display every column of the dataset in head()
pd.options.display.max_columns = 150
# To supress displaying large numbers in scientific format
pd.options.display.float_format = '{:.5f}'.format

# To suppress all the warnings in the notebook.
warnings.filterwarnings('ignore')

gender_age_train - Devices and their respective user gender, age and age_group

phone_brand_device_model - device ids, brand, and models phone_brand: note that few brands are in Chinese

Brand Name	Brand English Mapping
'华为'	'Huawei'
'小米'	'Xiaomi'
'三星'	'Samsung'
'vivo'	'vivo'
'OPPO'	'OPPO'
'魅族'	'Meizu'
'酷派'	'Coolpad'
'乐视'	'LeEco'
'联想 '	'Lenovo'
'HTC'	'HTC'


events_data - when a user uses mobile on INSAID Telecom network, the event gets logged in this data.
Each event has an event id, location (lat/long), and the event corresponds to frequency of mobile usage. 
timestamp: when the user is using the mobile.

In [2]:
df1 = pd.read_csv("events_data.csv")
df2 = pd.read_csv("gender_age_train.csv")
df3 = pd.read_csv("phone_brand_device_model.csv")

In [3]:
df1.head()

,event_id,device_id,timestamp,longitude,latitude,city,state
0,2765368,2973347786994914304.00000,2016-05-07 22:52:05,77.22568,28.73014,Delhi,Delhi
1,2955066,4734221357723754496.00000,2016-05-01 20:44:16,88.38836,22.66033,Calcutta,WestBengal
2,605968,-3264499652692492800.00000,2016-05-02 14:23:04,77.25681,28.75791,Delhi,Delhi
3,448114,5731369272434022400.00000,2016-05-03 13:21:16,80.34361,13.15333,Chennai,TamilNadu
4,665740,338888002570799936.00000,2016-05-06 03:51:05,85.99774,23.84261,Bokaro,Jharkhand

In [4]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3252950 entries, 0 to 3252949
Data columns (total 7 columns):
 #   Column     Dtype
---  ------     -----
 0   event_id   int64
 1   device_id  float64
 2   timestamp  object
 3   longitude  float64
 4   latitude   float64
 5   city       object
 6   state      object
dtypes: float64(3), int64(1), object(3)
memory usage: 173.7+ MB

In [5]:
df1.nunique()

event_id     3252950
device_id      60865
timestamp     588126
longitude      60095
latitude       60177
city             933
state             32
dtype: int64

In [6]:
df1.isna().sum()

event_id       0
device_id    453
timestamp      0
longitude    423
latitude     423
city           0
state        377
dtype: int64

In [7]:
x = df1[df1.state.isna()].city.unique()
print(x)
type(x)

['Pune' 'Visakhapatnam' 'Indore' 'Chennai' 'Delhi' 'Channapatna' 'Jaipur'
 'Gangarampur' 'Arambagh']

numpy.ndarray

In [8]:
y = []
for i in x:
    z = df1['state'].where(df1['city'] == i).dropna().unique().tolist()
    y.append(z)
y = list(np.concatenate(y).flat)
y

['Maharashtra',
 'AndhraPradesh',
 'MadhyaPradesh',
 'TamilNadu',
 'Delhi',
 'Karnataka',
 'Rajasthan',
 'WestBengal',
 'WestBengal']

In [9]:
missing_state_city_dict = dict(zip(x, y))
missing_state_city_dict

{'Pune': 'Maharashtra',
 'Visakhapatnam': 'AndhraPradesh',
 'Indore': 'MadhyaPradesh',
 'Chennai': 'TamilNadu',
 'Delhi': 'Delhi',
 'Channapatna': 'Karnataka',
 'Jaipur': 'Rajasthan',
 'Gangarampur': 'WestBengal',
 'Arambagh': 'WestBengal'}

In [10]:
df1[(df1.city == 'Pune') & (df1.state.isna())]

,event_id,device_id,timestamp,longitude,latitude,city,state
2931,706554,-5829328361235250176.00000,2016-05-05 16:58:46,73.85167,18.59331,Pune,NaN
76174,592175,-5829328361235250176.00000,2016-05-02 00:06:48,73.85167,18.59331,Pune,NaN
195172,2498395,2601606673970940928.00000,2016-05-04 08:34:03,73.87071,18.61934,Pune,NaN
247532,151113,-5829328361235250176.00000,2016-05-03 13:17:55,73.85167,18.59331,Pune,NaN
326818,1910695,-5829328361235250176.00000,2016-05-06 22:44:28,73.85167,18.59331,Pune,NaN
...,...,...,...,...,...,...,...
2973308,2642291,-5829328361235250176.00000,2016-05-05 07:13:14,73.85167,18.59331,Pune,NaN
3023725,2193023,2601606673970940928.00000,2016-05-05 18:57:14,73.87071,18.61934,Pune,NaN
3070662,2342756,442842061129641600.00000,2016-05-07 15:27:45,73.92625,18.61613,Pune,NaN
3119289,992087,442842061129641600.00000,2016-05-07 16:39:06,73.92625,18.61613,Pune,NaN
3141899,913046,442842061129641600.00000,2016-05-01 22:13:23,73.92625,18.61613,Pune,NaN

In [11]:
df1['state'] = np.where(pd.isnull(df1['state']), df1['city'].map(
    missing_state_city_dict), df1['state'])

In [12]:
df1[(df1.city == 'Pune') & (df1.state.isna())]

Empty DataFrame
Columns: [event_id, device_id, timestamp, longitude, latitude, city, state]
Index: []

In [13]:
df1.isna().sum()

event_id       0
device_id    453
timestamp      0
longitude    423
latitude     423
city           0
state          0
dtype: int64

In [14]:
x1 = df1[df1.longitude.isna()].device_id.unique()
print(x1)
type(x1)

[ 1.77963e+18 -8.79056e+18  4.86561e+18  7.98387e+18 -7.36484e+18
  5.37560e+18  5.51866e+18  4.58018e+18 -6.03380e+18  7.66214e+18
  2.35098e+18  4.37504e+18  4.78258e+18  1.32005e+18  5.73137e+18
  3.73828e+18  3.05849e+17  7.01860e+18  5.11519e+18  6.77407e+18
  3.09917e+18]

numpy.ndarray

In [15]:
y1 = []
y11 = []
for i in x1:
    z1 = df1['longitude'].where(
        df1['device_id'] == i).dropna().unique().tolist()
    z11 = df1['latitude'].where(
        df1['device_id'] == i).dropna().unique().tolist()
    y1.append(z1)
    y11.append(z11)
y1 = list(np.concatenate(y1).flat)
y11 = list(np.concatenate(y11).flat)
print(y1)
print(y11)

[77.235416, 75.933778, 83.35144199999998, 80.33543499999998, 73.931944, 77.283447, 83.384242, 75.835756, 83.31978699999998, 80.30927199999998, 75.888474, 75.824489, 77.22522, 87.570736, 80.34361299999998, 75.937988, 75.865534, 73.92622300000002, 73.88868000000002, 75.268748, 84.1409]
[28.738901, 22.761965, 17.772251999999995, 13.189053, 18.54074, 28.718392, 17.817945, 26.960220000000003, 17.816579, 13.149176, 22.745063, 26.980345000000003, 28.718379, 26.211919, 13.153332, 22.76201, 26.987566, 18.575747, 18.556741, 30.904178, 27.17739700000001]

In [16]:
df1[df1.device_id.isin(x1)]

,event_id,device_id,timestamp,longitude,latitude,city,state
3,448114,5731369272434022400.00000,2016-05-03 13:21:16,80.34361,13.15333,Chennai,TamilNadu
14,460645,7983871429718484992.00000,2016-05-04 21:04:40,80.33543,13.18905,Chennai,TamilNadu
298,1027846,3738280493453803008.00000,2016-05-06 01:19:31,75.93799,22.76201,Indore,MadhyaPradesh
378,3115822,7983871429718484992.00000,2016-05-01 17:17:04,80.33543,13.18905,Chennai,TamilNadu
399,2520700,7983871429718484992.00000,2016-05-02 15:53:05,80.33543,13.18905,Chennai,TamilNadu
...,...,...,...,...,...,...,...
3252289,2321104,3738280493453803008.00000,2016-05-07 01:36:31,75.93799,22.76201,Indore,MadhyaPradesh
3252573,70176,3738280493453803008.00000,2016-05-06 00:25:53,75.93799,22.76201,Indore,MadhyaPradesh
3252584,2571028,7983871429718484992.00000,2016-05-02 02:26:19,80.33543,13.18905,Chennai,TamilNadu
3252657,2880226,7018600380123445248.00000,2016-05-04 13:03:20,73.92622,18.57575,Pune,Maharashtra
3252717,170588,7662139143719919616.00000,2016-05-07 23:15:15,80.30927,13.14918,Chennai,TamilNadu

In [17]:
missing_long_dict = dict(zip(x1, y1))
missing_lat_dict = dict(zip(x1, y11))
print(missing_long_dict)
print(missing_lat_dict)

{1.7796310234394053e+18: 77.235416, -8.790560034584249e+18: 75.933778, 4.865606571395669e+18: 83.35144199999998, 7.983871429718485e+18: 80.33543499999998, -7.364840628879981e+18: 73.931944, 5.375599021847303e+18: 77.283447, 5.518659601894558e+18: 83.384242, 4.580179444377398e+18: 75.835756, -6.033798388179802e+18: 83.31978699999998, 7.66213914371992e+18: 80.30927199999998, 2.3509794022024387e+18: 75.888474, 4.37503983023287e+18: 75.824489, 4.782582047729166e+18: 77.22522, 1.3200509770197112e+18: 87.570736, 5.731369272434022e+18: 80.34361299999998, 3.738280493453803e+18: 75.937988, 3.058487753865349e+17: 75.865534, 7.018600380123445e+18: 73.92622300000002, 5.115185276392513e+18: 73.88868000000002, 6.774071338248978e+18: 75.268748, 3.0991685461987686e+18: 84.1409}
{1.7796310234394053e+18: 28.738901, -8.790560034584249e+18: 22.761965, 4.865606571395669e+18: 17.772251999999995, 7.983871429718485e+18: 13.189053, -7.364840628879981e+18: 18.54074, 5.375599021847303e+18: 28.718392, 5.518659601894558e+18: 17.817945, 4.580179444377398e+18: 26.960220000000003, -6.033798388179802e+18: 17.816579, 7.66213914371992e+18: 13.149176, 2.3509794022024387e+18: 22.745063, 4.37503983023287e+18: 26.980345000000003, 4.782582047729166e+18: 28.718379, 1.3200509770197112e+18: 26.211919, 5.731369272434022e+18: 13.153332, 3.738280493453803e+18: 22.76201, 3.058487753865349e+17: 26.987566, 7.018600380123445e+18: 18.575747, 5.115185276392513e+18: 18.556741, 6.774071338248978e+18: 30.904178, 3.0991685461987686e+18: 27.17739700000001}

In [18]:
df1[(df1.longitude == 80.34361) & (df1.latitude != 13.15333)]

Empty DataFrame
Columns: [event_id, device_id, timestamp, longitude, latitude, city, state]
Index: []

In [19]:
df1[(df1.device_id == 5731369272434022400) & (df1.longitude.isna())]

,event_id,device_id,timestamp,longitude,latitude,city,state
125853,918193,5731369272434022400.00000,2016-05-04 04:35:06,NaN,NaN,Chennai,TamilNadu
268620,3173472,5731369272434022400.00000,2016-05-07 16:45:56,NaN,NaN,Chennai,TamilNadu
741408,1817900,5731369272434022400.00000,2016-05-02 04:49:52,NaN,NaN,Chennai,TamilNadu
919287,2278585,5731369272434022400.00000,2016-05-07 01:42:57,NaN,NaN,Chennai,TamilNadu
1000756,1822609,5731369272434022400.00000,2016-05-04 09:38:01,NaN,NaN,Chennai,TamilNadu
1489097,2109783,5731369272434022400.00000,2016-05-06 11:48:13,NaN,NaN,Chennai,TamilNadu
1939193,2128786,5731369272434022400.00000,2016-05-06 18:33:15,NaN,NaN,Chennai,TamilNadu
1959017,57583,5731369272434022400.00000,2016-05-05 20:18:08,NaN,NaN,Chennai,TamilNadu
2017908,1026089,5731369272434022400.00000,2016-05-06 23:19:37,NaN,NaN,Chennai,TamilNadu
2040481,1838018,5731369272434022400.00000,2016-05-02 21:32:06,NaN,NaN,Chennai,TamilNadu
2132181,2313728,5731369272434022400.00000,2016-05-02 04:00:30,NaN,NaN,Chennai,TamilNadu
2241879,2099045,5731369272434022400.00000,2016-05-02 00:54:27,NaN,NaN,Chennai,TamilNadu
2250218,2320341,5731369272434022400.00000,2016-05-02 01:06:38,NaN,NaN,Chennai,TamilNadu
2492280,2403481,5731369272434022400.00000,2016-05-04 16:32:35,NaN,NaN,Chennai,TamilNadu
2558473,942233,5731369272434022400.00000,2016-05-06 23:14:16,NaN,NaN,Chennai,TamilNadu
2585522,284728,5731369272434022400.00000,2016-05-07 16:56:26,NaN,NaN,Chennai,TamilNadu
2622871,513921,5731369272434022400.00000,2016-05-06 18:17:55,NaN,NaN,Chennai,TamilNadu
2631815,1445607,5731369272434022400.00000,2016-05-01 08:12:51,NaN,NaN,Chennai,TamilNadu
2953820,2724557,5731369272434022400.00000,2016-05-02 00:36:50,NaN,NaN,Chennai,TamilNadu
2963742,2232236,5731369272434022400.00000,2016-05-07 09:05:35,NaN,NaN,Chennai,TamilNadu
2971236,759616,5731369272434022400.00000,2016-05-02 05:33:52,NaN,NaN,Chennai,TamilNadu

In [20]:
df1['longitude'] = np.where(pd.isnull(df1['longitude']), df1['device_id'].map(
    missing_long_dict), df1['longitude'])

In [21]:
df1[(df1.device_id == 5731369272434022400) & (df1.latitude.isna())]

,event_id,device_id,timestamp,longitude,latitude,city,state
125853,918193,5731369272434022400.00000,2016-05-04 04:35:06,80.34361,NaN,Chennai,TamilNadu
268620,3173472,5731369272434022400.00000,2016-05-07 16:45:56,80.34361,NaN,Chennai,TamilNadu
741408,1817900,5731369272434022400.00000,2016-05-02 04:49:52,80.34361,NaN,Chennai,TamilNadu
919287,2278585,5731369272434022400.00000,2016-05-07 01:42:57,80.34361,NaN,Chennai,TamilNadu
1000756,1822609,5731369272434022400.00000,2016-05-04 09:38:01,80.34361,NaN,Chennai,TamilNadu
1489097,2109783,5731369272434022400.00000,2016-05-06 11:48:13,80.34361,NaN,Chennai,TamilNadu
1939193,2128786,5731369272434022400.00000,2016-05-06 18:33:15,80.34361,NaN,Chennai,TamilNadu
1959017,57583,5731369272434022400.00000,2016-05-05 20:18:08,80.34361,NaN,Chennai,TamilNadu
2017908,1026089,5731369272434022400.00000,2016-05-06 23:19:37,80.34361,NaN,Chennai,TamilNadu
2040481,1838018,5731369272434022400.00000,2016-05-02 21:32:06,80.34361,NaN,Chennai,TamilNadu
2132181,2313728,5731369272434022400.00000,2016-05-02 04:00:30,80.34361,NaN,Chennai,TamilNadu
2241879,2099045,5731369272434022400.00000,2016-05-02 00:54:27,80.34361,NaN,Chennai,TamilNadu
2250218,2320341,5731369272434022400.00000,2016-05-02 01:06:38,80.34361,NaN,Chennai,TamilNadu
2492280,2403481,5731369272434022400.00000,2016-05-04 16:32:35,80.34361,NaN,Chennai,TamilNadu
2558473,942233,5731369272434022400.00000,2016-05-06 23:14:16,80.34361,NaN,Chennai,TamilNadu
2585522,284728,5731369272434022400.00000,2016-05-07 16:56:26,80.34361,NaN,Chennai,TamilNadu
2622871,513921,5731369272434022400.00000,2016-05-06 18:17:55,80.34361,NaN,Chennai,TamilNadu
2631815,1445607,5731369272434022400.00000,2016-05-01 08:12:51,80.34361,NaN,Chennai,TamilNadu
2953820,2724557,5731369272434022400.00000,2016-05-02 00:36:50,80.34361,NaN,Chennai,TamilNadu
2963742,2232236,5731369272434022400.00000,2016-05-07 09:05:35,80.34361,NaN,Chennai,TamilNadu
2971236,759616,5731369272434022400.00000,2016-05-02 05:33:52,80.34361,NaN,Chennai,TamilNadu

In [22]:
df1['latitude'] = np.where(pd.isnull(df1['latitude']), df1['device_id'].map(
    missing_lat_dict), df1['latitude'])

In [23]:
df1[(df1.event_id == 918193)]

,event_id,device_id,timestamp,longitude,latitude,city,state
125853,918193,5731369272434022400.00000,2016-05-04 04:35:06,80.34361,13.15333,Chennai,TamilNadu

In [24]:
df1.isna().sum()

event_id       0
device_id    453
timestamp      0
longitude      0
latitude       0
city           0
state          0
dtype: int64

In [25]:
df1[(df1.device_id.isna())]

,event_id,device_id,timestamp,longitude,latitude,city,state
2055,1936567,NaN,2016-05-02 15:27:54,75.88296,22.81452,Indore,MadhyaPradesh
26367,2659282,NaN,2016-05-04 14:06:24,75.88849,26.94869,Jaipur,Rajasthan
42088,442198,NaN,2016-05-06 09:27:37,75.84601,26.96080,Jaipur,Rajasthan
43061,1903648,NaN,2016-05-02 15:41:54,75.92333,22.77778,Indore,MadhyaPradesh
44823,3227383,NaN,2016-05-05 08:37:09,75.99255,31.56175,Hoshiarpur,Punjab
...,...,...,...,...,...,...,...
3212337,2191286,NaN,2016-05-04 18:16:06,83.35799,17.80520,Visakhapatnam,AndhraPradesh
3215120,572054,NaN,2016-05-07 08:48:22,83.37174,17.75282,Visakhapatnam,AndhraPradesh
3230115,332451,NaN,2016-05-07 09:01:45,75.99255,31.56175,Hoshiarpur,Punjab
3235494,2534073,NaN,2016-05-06 21:07:01,83.37174,17.75282,Visakhapatnam,AndhraPradesh
3250939,1622538,NaN,2016-05-06 21:26:10,75.88849,26.94869,Jaipur,Rajasthan

In [26]:
x2 = df1[df1.device_id.isna()].latitude.unique()
print(x2)
type(x2)

[22.81452 26.94869 26.9608  22.77778 31.56175 18.62806 18.56693 17.8052
 28.71997 18.61481 13.15333 13.14918 28.72105 17.75282 22.81753 17.82291
 26.95399 13.18905 21.19428 21.79069 28.72889]

numpy.ndarray

In [27]:
y2 = []
for i in x2:
    z2 = df1['device_id'].where(
        df1['latitude'] == i).dropna().unique().tolist()
    y2.append(z2)
y2 = list(np.concatenate(y2).flat)
y2

[3.1328613559497626e+18,
 -9.177251100412943e+17,
 -8.460337302442786e+18,
 7.597735768595925e+18,
 1.750778632182067e+18,
 9.027085705222633e+18,
 8.539870903150472e+18,
 6.844192269280791e+18,
 5.098778421671838e+18,
 1.771585711650787e+17,
 5.731369272434022e+18,
 7.66213914371992e+18,
 3.724654925765159e+18,
 -3.1309031770761733e+18,
 -2.399250255599833e+18,
 6.619714762103552e+18,
 3.562355872640618e+18,
 7.983871429718485e+18,
 -8.215770519233686e+18,
 -1.688015122502424e+18,
 -6.875585507485886e+18]

In [28]:
missing_did_dict = dict(zip(x2, y2))

print(missing_did_dict)

{22.814519: 3.1328613559497626e+18, 26.948689: -9.177251100412943e+17, 26.960796: -8.460337302442786e+18, 22.777781: 7.597735768595925e+18, 31.561747: 1.750778632182067e+18, 18.628057: 9.027085705222633e+18, 18.566925: 8.539870903150472e+18, 17.805195: 6.844192269280791e+18, 28.719966000000003: 5.098778421671838e+18, 18.614812: 1.771585711650787e+17, 13.153332: 5.731369272434022e+18, 13.149176: 7.66213914371992e+18, 28.721053: 3.724654925765159e+18, 17.752819: -3.1309031770761733e+18, 22.817526: -2.399250255599833e+18, 17.822906: 6.619714762103552e+18, 26.95399: 3.562355872640618e+18, 13.189053: 7.983871429718485e+18, 21.194283: -8.215770519233686e+18, 21.790693: -1.688015122502424e+18, 28.728888: -6.875585507485886e+18}

In [29]:
df1['device_id'] = np.where(pd.isnull(df1['device_id']), df1['latitude'].map(
    missing_did_dict), df1['device_id'])

In [30]:
df1[(df1.event_id == 1936567)]

,event_id,device_id,timestamp,longitude,latitude,city,state
2055,1936567,3132861355949762560.00000,2016-05-02 15:27:54,75.88296,22.81452,Indore,MadhyaPradesh

In [31]:
df1.isna().sum()

event_id     0
device_id    0
timestamp    0
longitude    0
latitude     0
city         0
state        0
dtype: int64

In [32]:
df2.head()

             device_id gender  age   group
0 -8076087639492063270      M   35  M32-38
1 -2897161552818060146      M   35  M32-38
2 -8260683887967679142      M   35  M32-38
3 -4938849341048082022      M   30  M29-31
4   245133531816851882      M   30  M29-31

In [33]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74645 entries, 0 to 74644
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   device_id  74645 non-null  int64
 1   gender     74645 non-null  object
 2   age        74645 non-null  int64
 3   group      74645 non-null  object
dtypes: int64(2), object(2)
memory usage: 2.3+ MB

In [34]:
df2['device_id'] = df2['device_id'].astype(float)

In [35]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74645 entries, 0 to 74644
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   device_id  74645 non-null  float64
 1   gender     74645 non-null  object
 2   age        74645 non-null  int64
 3   group      74645 non-null  object
dtypes: float64(1), int64(1), object(2)
memory usage: 2.3+ MB

In [36]:
df2.nunique()

device_id    74645
gender           2
age             85
group           12
dtype: int64

In [37]:
df2.isna().sum()

device_id    0
gender       0
age          0
group        0
dtype: int64

In [38]:
df3.head()

             device_id phone_brand device_model
0  1877775838486905855        vivo          Y13
1 -3766087376657242966          小米         V183
2 -6238937574958215831        OPPO          R7s
3  8973197758510677470          三星        A368t
4 -2015528097870762664          小米      红米Note2

In [39]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87726 entries, 0 to 87725
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   device_id     87726 non-null  int64
 1   phone_brand   87726 non-null  object
 2   device_model  87726 non-null  object
dtypes: int64(1), object(2)
memory usage: 2.0+ MB

In [40]:
df3['device_id'] = df3['device_id'].astype(float)

In [41]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87726 entries, 0 to 87725
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   device_id     87726 non-null  float64
 1   phone_brand   87726 non-null  object
 2   device_model  87726 non-null  object
dtypes: float64(1), object(2)
memory usage: 2.0+ MB

In [42]:
df3.nunique()

device_id       87726
phone_brand       116
device_model     1467
dtype: int64

In [43]:
df3.isna().sum()

device_id       0
phone_brand     0
device_model    0
dtype: int64

In [44]:
df1[(df1.device_id == -8076087639492063270)]

,event_id,device_id,timestamp,longitude,latitude,city,state
1773216,2341008,-8076087639492063232.00000,2016-05-01 15:18:43,75.79920,11.34528,Kozhikkod,Kerala
1795779,2051729,-8076087639492063232.00000,2016-05-03 12:45:54,75.79920,11.34528,Kozhikkod,Kerala
2247769,489379,-8076087639492063232.00000,2016-05-05 11:10:50,75.79920,11.34528,Kozhikkod,Kerala

In [45]:
df2[(df2.device_id == -8076087639492063270)]

                   device_id gender  age   group
0 -8076087639492063232.00000      M   35  M32-38

In [46]:
df3[(df3.device_id == -8076087639492063270)]

                       device_id phone_brand device_model
75448 -8076087639492063232.00000          小米         MI 2

In [47]:
df3['phone_brand'].str.strip()

0        vivo
1          小米
2        OPPO
3          三星
4          小米
         ...
87721      华为
87722      华为
87723      华为
87724      小米
87725      酷比
Name: phone_brand, Length: 87726, dtype: object

In [48]:
x3 = df3.phone_brand.unique()
print(x3)
type(x3)

['vivo' '小米' 'OPPO' '三星' '酷派' '联想 ' '华为' '奇酷' '魅族' '斐讯' '中国移动' 'HTC' '天语'
 '至尊宝' 'LG' '欧博信' '优米' 'ZUK' '努比亚' '惠普' '尼比鲁' '美图' '乡米' '摩托罗拉' '梦米' '锤子'
 '富可视' '乐视' '海信' '百立丰' '一加' '语信' '海尔' '酷比' '纽曼' '波导' '朵唯' '聆韵' 'TCL' '酷珀'
 '爱派尔' 'LOGO' '青葱' '果米' '华硕' '昂达' '艾优尼' '康佳' '优购' '邦华' '赛博宇华' '黑米' 'Lovme'
 '先锋' 'E派' '神舟' '诺基亚' '普耐尔' '糖葫芦' '亿通' '欧新' '米奇' '酷比魔方' '蓝魔' '小杨树' '贝尔丰'
 '糯米' '米歌' 'E人E本' '西米' '大Q' '台电' '飞利浦' '唯米' '大显' '长虹' '维图' '青橙' '本为' '虾米'
 '夏新' '帷幄' '百加' 'SUGAR' '欧奇' '世纪星' '智镁' '欧比' '基伍' '飞秒' '德赛' '易派' '谷歌'
 '金星数码' '广信' '诺亚信' 'MIL' '白米' '大可乐' '宝捷讯' '优语' '首云' '瑞米' '瑞高' '沃普丰' '摩乐'
 '鲜米' '凯利通' '唯比' '欧沃' '丰米' '恒宇丰' '奥克斯' '西门子' '欧乐迪' 'PPTV']

numpy.ndarray

In [49]:
x3df = pd.DataFrame(x3, columns=['phone_brand'])
x3df.reset_index(drop=True, inplace=True)
x3df.head()

  phone_brand
0        vivo
1          小米
2        OPPO
3          三星
4          酷派

In [50]:
# from textblob import TextBlob
from google_trans_new import google_translator, LANGUAGES

translator = google_translator()


def convert_chinese_to_english(row, buffer):
    row_mod = row + buffer
    translated_text = translator.translate(
        row_mod, lang_src="Chinese", lang_tgt="en")
    trans = translated_text.replace(buffer, "")
    return trans

In [51]:
# # COMMENT OUT AFTER RUNNING TO PREVENT CROSSING USAGE LIMITS FOR THE API

# x3df['English_Brand'] = x3df['phone_brand'].apply(convert_chinese_to_english,args=("Phone Brand",))

# test = dict(zip(x3df.phone_brand,x3df.English_Brand))
# print(test)

In [52]:
# code block used when using list of phone_brand to send to translate API - gives some funny translations

# y3=[]

# for i in x3:
#     z3 = translator.translate(i)
#     y3.append(z3)

# brand_eng_dict = dict(zip(x3, y3))

# print(brand_eng_dict)

In [53]:
# Outputs from the various translations tried were copied to the below dicts to enable comparison

test1 = {'vivo': 'alive ', '小米': 'Millet ', 'OPPO': 'Oppo ', '三星': 'Samsung ', '酷派': 'Cool ', '联想 ': 'Association ', '华为': 'Huawei ', '奇酷': 'Cage ', '魅族': 'Charming ', '斐讯': 'Film ', '中国移动': 'China Mobile ', 'HTC': 'HTC ', '天语': 'Amagatarai ', '至尊宝': 'Honored ', 'LG': 'LG. ', '欧博信': 'Osoxin ', '优米': 'Quality rice ', 'ZUK': 'You ', '努比亚': 'Nubia ', '惠普': 'HP ', '尼比鲁': 'Nipro ', '美图': 'Beautiful map ', '乡米': 'Rural rice ', '摩托罗拉': 'Motorola ', '梦米': 'Messenger ', '锤子': 'hammer ', '富可视': 'Rich view ', '乐视': 'Music ', '海信': 'Hisense ', '百立丰': 'Bailun ', '一加': 'Plus ', '语信': 'Circularity ', '海尔': 'Haier ', '酷比': 'Cool than ', '纽曼': 'Newman ', '波导': 'waveguide ', '朵唯': 'Only ', '聆韵': 'Hear rhyme ', 'TCL': 'TCL ', '酷珀': 'Severe ', '爱派尔': 'Ai Pike ', 'LOGO': 'LOGO ', '青葱': 'Shallot ', '果米': 'Fruit rice ', '华硕': 'ASUS ', '昂达': 'Onda ', '艾优尼': 'Aiyini ', '康佳': 'Konka ', '优购': 'Best purchase ', '邦华': 'Banghua ', '赛博宇华': 'Sai Bo Yuhua ', '黑米': 'black rice ', 'Lovme': 'Lovme ', '先锋': 'pioneer ', 'E派': 'E-send ', '神舟': 'Shenzhou ', '诺基亚': 'Nokia ', '普耐尔': 'Poire ', '糖葫芦': 'Sugar ',
         '亿通': 'Vanity ', '欧新': 'European new ', '米奇': 'Mickey ', '酷比魔方': 'Cool than Rubik ', '蓝魔': 'Blue demon ', '小杨树': 'Small poplar ', '贝尔丰': 'Bell Feng ', '糯米': 'Glutinous rice ', '米歌': 'Mi song ', 'E人E本': 'E people e ', '西米': 'Simi ', '大Q': 'Big Q ', '台电': 'Platform ', '飞利浦': 'Philips ', '唯米': 'Mi ', '大显': 'Large display ', '长虹': 'Changhong ', '维图': 'Dimension ', '青橙': 'Orange ', '本为': 'This is ', '虾米': 'Shrimp ', '夏新': 'Summer new ', '帷幄': 'Curtain ', '百加': 'Plus ', 'SUGAR': 'SUGAR ', '欧奇': 'Ouqi ', '世纪星': 'Century star ', '智镁': 'Smart ', '欧比': 'Europa ', '基伍': 'Base ', '飞秒': 'Femtosecond ', '德赛': 'German ', '易派': 'Easy to send ', '谷歌': 'Google ', '金星数码': 'Venus Digital ', '广信': 'Widely believed ', '诺亚信': 'Noah ', 'MIL': 'ONE THOUSAND ', '白米': 'White rice ', '大可乐': 'Cola ', '宝捷讯': 'Baojiexun ', '优语': 'Pros ', '首云': 'First cloud ', '瑞米': 'Rice ', '瑞高': 'Rui ', '沃普丰': 'Wormfront ', '摩乐': 'Music ', '鲜米': 'Fresh rice ', '凯利通': 'Kelly ', '唯比': 'Only one ', '欧沃': 'Ouvo ', '丰米': 'Rich rice ', '恒宇丰': 'Hengyufeng ', '奥克斯': 'Ox ', '西门子': 'Siemens ', '欧乐迪': 'Oeri ', 'PPTV': 'PPTV '}

test2 = {'vivo': 'VIVO', '小米': 'Xiaomi', 'OPPO': 'OPPO', '三星': 'Three Stars', '酷派': 'Coolpad', '联想 ': 'Lenovo', '华为': 'Huawei', '奇酷': 'Qiku', '魅族': 'Meizu', '斐讯': 'Phicomm', '中国移动': 'China Mobile', 'HTC': 'HTC', '天语': 'New SX4', '至尊宝': 'Zhizunbao', 'LG': 'LG', '欧博信': 'Obersion', '优米': 'Quality rice', 'ZUK': 'ZUK', '努比亚': 'Nubia', '惠普': 'Hewlett-Packard', '尼比鲁': 'Nibiru', '美图': 'beautiful picture', '乡米': 'Xiangmi', '摩托罗拉': 'Motorola', '梦米': 'Dream rice', '锤子': 'Hammer', '富可视': 'InFocus', '乐视': 'LeEco', '海信': 'Hisense', '百立丰': 'Bailifeng', '一加': 'OnePlus', '语信': 'Language letter', '海尔': 'Haier', '酷比': 'Coolby', '纽曼': 'Newmann', '波导': 'Waveguide', '朵唯': 'Dove', '聆韵': 'Rhyme', 'TCL': 'TCL', '酷珀': 'Cooper', '爱派尔': 'Aipel', 'LOGO': 'LOGO', '青葱': 'green onion', '果米': 'Fruit rice', '华硕': 'ASUS', '昂达': 'Onda', '艾优尼': 'Ayuni', '康佳': 'Konka Group', '优购': 'Yougo', '邦华': 'Banghua', '赛博宇华': 'Cyber Yuhua', '黑米': 'black rice', 'Lovme': 'Lovme', '先锋': 'Xianfeng Railway Station', 'E派': 'E School', '神舟': 'Divine Boat', '诺基亚': 'Nokia',
         '普耐尔': 'Punel', '糖葫芦': 'Tanghulu', '亿通': 'Yitong', '欧新': 'Ou Xin', '米奇': 'MITCH', '酷比魔方': 'Rubik&#39;s Cube', '蓝魔': 'Lan Mo', '小杨树': 'Little poplar', '贝尔丰': 'Belfon', '糯米': 'Glutinous rice', '米歌': 'Mi Ge', 'E人E本': 'E person E book', '西米': 'Sago', '大Q': 'Big Q', '台电': 'Taipower', '飞利浦': 'Philips', '唯米': 'Wei Mi', '大显': 'Daxian', '长虹': 'Changhong', '维图': 'Vitu', '青橙': 'Qing Cheng', '本为': 'Originally', '虾米': 'Shrimp', '夏新': 'Amoi', '帷幄': 'Curtain', '百加': 'Bajia', 'SUGAR': 'Sugar', '欧奇': 'Ouch', '世纪星': 'Century Star', '智镁': 'Zhimei', '欧比': 'Obi', '基伍': 'The Kivus', '飞秒': 'Femtosecond', '德赛': 'Desai', '易派': 'Yipai', '谷歌': 'Google', '金星数码': 'Venus Digital', '广信': 'Guang Xin', '诺亚信': 'Noah letter', 'MIL': 'MIL', '白米': 'rice', '大可乐': 'Big cola', '宝捷讯': 'Projet', '优语': 'Youyu', '首云': 'First cloud', '瑞米': 'Remy', '瑞高': 'Rigo', '沃普丰': 'Wopfon', '摩乐': 'Mole', '鲜米': 'Fresh rice', '凯利通': 'Kellyton', '唯比': 'Weibi', '欧沃': 'Ovo', '丰米': 'Fonmi', '恒宇丰': 'Hengyufeng', '奥克斯': 'Oaks', '西门子': 'Siemens', '欧乐迪': 'Oledi', 'PPTV': 'PPTV'}

test3 = {'vivo': 'vivo ', '小米': 'Xiaomi  ', 'OPPO': 'OPPO ', '三星': 'Samsung  ', '酷派': 'Cool  ', '联想 ': 'Lenovo  ', '华为': 'Huawei  ', '奇酷': 'Crate-cool  ', '魅族': 'Meizu  ', '斐讯': 'Fixun  ', '中国移动': 'China Mobile  ', 'HTC': 'HTC ', '天语': 'Tianyu  ', '至尊宝': 'Extreme PHONE BRAND ', 'LG': 'LG ', '欧博信': 'Oufo letter  ', '优米': 'Yumi  ', 'ZUK': 'ZUK ', '努比亚': 'Nubia  ', '惠普': 'HP  ', '尼比鲁': 'Nobi PHONE BRAND ', '美图': 'Meitu  ', '乡米': 'Tural rice  ', '摩托罗拉': 'Motorola  ', '梦米': 'Mengmi  ', '锤子': 'Hammer  ', '富可视': 'Keroval  ', '乐视': 'LeTV  ', '海信': 'Hisense  ', '百立丰': 'Ba Lifeng  ', '一加': 'Plus  ', '语信': 'Phone phone  ', '海尔': 'Haier  ', '酷比': 'Cool than  ', '纽曼': 'Newman  ', '波导': 'Waveguide  ', '朵唯': 'Duowei  ', '聆韵': 'Harmony  ', 'TCL': 'TCL ', '酷珀': 'Cool PHONE BRAND ', '爱派尔': 'Epilel  ', 'LOGO': 'LOGO ', '青葱': 'Whisk  ', '果米': 'Pene Brand ', '华硕': 'ASUS  ', '昂达': 'Onda  ', '艾优尼': 'Ai Yimi  ', '康佳': 'Konka  ', '优购': 'Buy  ', '邦华': 'Bonhua  ', '赛博宇华': 'Sai Bo Yuhua  ', '黑米': 'Black rice  ', 'Lovme': 'Lovme ', '先锋': 'Pioneer  ', 'E派': 'E-send  ', '神舟': 'Shenzhou  ', '诺基亚': 'Nokia  ', '普耐尔': 'Phule  ', '糖葫芦': 'Sugar Holly PHONE BRAND ', '亿通': 'Billion PHONE BRAND ',
         '欧新': 'European PHONE BRAND ', '米奇': 'Mickey  ', '酷比魔方': "Cool than Rubik's Cube  ", '蓝魔': 'Blue Devils  ', '小杨树': 'Xiao Yang  ', '贝尔丰': 'Bellfront  ', '糯米': 'Glutinous rice phone brand ', '米歌': 'Mi song  ', 'E人E本': 'E people e this phone brand ', '西米': 'Simi  ', '大Q': 'Big Q ', '台电': 'Taipower  ', '飞利浦': 'Philips  ', '唯米': 'Mi Mi  ', '大显': 'Big display  ', '长虹': 'Changhong  ', '维图': 'Dimit  ', '青橙': 'Green orange  ', '本为': ' ', '虾米': 'Shrimp  ', '夏新': 'Summer pHONE BRAND ', '帷幄': ' ', '百加': 'Plus  ', 'SUGAR': 'Sugar. ', '欧奇': 'Ouqi  ', '世纪星': 'Century Star  ', '智镁': 'Smart  ', '欧比': 'Euro PHONE BRAND ', '基伍': 'Kiwish  ', '飞秒': 'Flying second phone brand ', '德赛': 'Germany  ', '易派': 'Easai  ', '谷歌': 'Google  ', '金星数码': 'Venus Digital  ', '广信': 'Guangxin  ', '诺亚信': 'Noah letter  ', 'MIL': 'MIL ', '白米': 'White rice  ', '大可乐': 'Coca-PHONE BRAND ', '宝捷讯': 'Baojie News  ', '优语': 'Pest  ', '首云': 'First cloud  ', '瑞米': 'Remi  ', '瑞高': 'Ruigao  ', '沃普丰': 'Wormofeng  ', '摩乐': 'Music  ', '鲜米': 'Fresh rice phone brand ', '凯利通': 'Kelly  ', '唯比': 'Mudby than  ', '欧沃': 'Ovo  ', '丰米': 'Fengmi  ', '恒宇丰': 'Hengyufeng  ', '奥克斯': 'Ox  ', '西门子': 'Siemens  ', '欧乐迪': 'Oresi  ', 'PPTV': 'PPTV '}

In [54]:
test_f = [test1, test2, test3]

In [55]:
test_df = pd.DataFrame.from_dict(test_f)

In [56]:
test_df.head()

,vivo,小米,OPPO,三星,酷派,联想,华为,奇酷,魅族,斐讯,中国移动,HTC,天语,至尊宝,LG,欧博信,优米,ZUK,努比亚,惠普,尼比鲁,美图,乡米,摩托罗拉,梦米,锤子,富可视,乐视,海信,百立丰,一加,语信,海尔,酷比,纽曼,波导,朵唯,聆韵,TCL,酷珀,爱派尔,LOGO,青葱,果米,华硕,昂达,艾优尼,康佳,优购,邦华,赛博宇华,黑米,Lovme,先锋,E派,神舟,诺基亚,普耐尔,糖葫芦,亿通,欧新,米奇,酷比魔方,蓝魔,小杨树,贝尔丰,糯米,米歌,E人E本,西米,大Q,台电,飞利浦,唯米,大显,长虹,维图,青橙,本为,虾米,夏新,帷幄,百加,SUGAR,欧奇,世纪星,智镁,欧比,基伍,飞秒,德赛,易派,谷歌,金星数码,广信,诺亚信,MIL,白米,大可乐,宝捷讯,优语,首云,瑞米,瑞高,沃普丰,摩乐,鲜米,凯利通,唯比,欧沃,丰米,恒宇丰,奥克斯,西门子,欧乐迪,PPTV
0,alive,Millet,Oppo,Samsung,Cool,Association,Huawei,Cage,Charming,Film,China Mobile,HTC,Amagatarai,Honored,LG.,Osoxin,Quality rice,You,Nubia,HP,Nipro,Beautiful map,Rural rice,Motorola,Messenger,hammer,Rich view,Music,Hisense,Bailun,Plus,Circularity,Haier,Cool than,Newman,waveguide,Only,Hear rhyme,TCL,Severe,Ai Pike,LOGO,Shallot,Fruit rice,ASUS,Onda,Aiyini,Konka,Best purchase,Banghua,Sai Bo Yuhua,black rice,Lovme,pioneer,E-send,Shenzhou,Nokia,Poire,Sugar,Vanity,European new,Mickey,Cool than Rubik,Blue demon,Small poplar,Bell Feng,Glutinous rice,Mi song,E people e,Simi,Big Q,Platform,Philips,Mi,Large display,Changhong,Dimension,Orange,This is,Shrimp,Summer new,Curtain,Plus,SUGAR,Ouqi,Century star,Smart,Europa,Base,Femtosecond,German,Easy to send,Google,Venus Digital,Widely believed,Noah,ONE THOUSAND,White rice,Cola,Baojiexun,Pros,First cloud,Rice,Rui,Wormfront,Music,Fresh rice,Kelly,Only one,Ouvo,Rich rice,Hengyufeng,Ox,Siemens,Oeri,PPTV
1,VIVO,Xiaomi,OPPO,Three Stars,Coolpad,Lenovo,Huawei,Qiku,Meizu,Phicomm,China Mobile,HTC,New SX4,Zhizunbao,LG,Obersion,Quality rice,ZUK,Nubia,Hewlett-Packard,Nibiru,beautiful picture,Xiangmi,Motorola,Dream rice,Hammer,InFocus,LeEco,Hisense,Bailifeng,OnePlus,Language letter,Haier,Coolby,Newmann,Waveguide,Dove,Rhyme,TCL,Cooper,Aipel,LOGO,green onion,Fruit rice,ASUS,Onda,Ayuni,Konka Group,Yougo,Banghua,Cyber Yuhua,black rice,Lovme,Xianfeng Railway Station,E School,Divine Boat,Nokia,Punel,Tanghulu,Yitong,Ou Xin,MITCH,Rubik&#39;s Cube,Lan Mo,Little poplar,Belfon,Glutinous rice,Mi Ge,E person E book,Sago,Big Q,Taipower,Philips,Wei Mi,Daxian,Changhong,Vitu,Qing Cheng,Originally,Shrimp,Amoi,Curtain,Bajia,Sugar,Ouch,Century Star,Zhimei,Obi,The Kivus,Femtosecond,Desai,Yipai,Google,Venus Digital,Guang Xin,Noah letter,MIL,rice,Big cola,Projet,Youyu,First cloud,Remy,Rigo,Wopfon,Mole,Fresh rice,Kellyton,Weibi,Ovo,Fonmi,Hengyufeng,Oaks,Siemens,Oledi,PPTV
2,vivo,Xiaomi,OPPO,Samsung,Cool,Lenovo,Huawei,Crate-cool,Meizu,Fixun,China Mobile,HTC,Tianyu,Extreme PHONE BRAND,LG,Oufo letter,Yumi,ZUK,Nubia,HP,Nobi PHONE BRAND,Meitu,Tural rice,Motorola,Mengmi,Hammer,Keroval,LeTV,Hisense,Ba Lifeng,Plus,Phone phone,Haier,Cool than,Newman,Waveguide,Duowei,Harmony,TCL,Cool PHONE BRAND,Epilel,LOGO,Whisk,Pene Brand,ASUS,Onda,Ai Yimi,Konka,Buy,Bonhua,Sai Bo Yuhua,Black rice,Lovme,Pioneer,E-send,Shenzhou,Nokia,Phule,Sugar Holly PHONE BRAND,Billion PHONE BRAND,European PHONE BRAND,Mickey,Cool than Rubik's Cube,Blue Devils,Xiao Yang,Bellfront,Glutinous rice phone brand,Mi song,E people e this phone brand,Simi,Big Q,Taipower,Philips,Mi Mi,Big display,Changhong,Dimit,Green orange,,Shrimp,Summer pHONE BRAND,,Plus,Sugar.,Ouqi,Century Star,Smart,Euro PHONE BRAND,Kiwish,Flying second phone brand,Germany,Easai,Google,Venus Digital,Guangxin,Noah letter,MIL,White rice,Coca-PHONE BRAND,Baojie News,Pest,First cloud,Remi,Ruigao,Wormofeng,Music,Fresh rice phone brand,Kelly,Mudby than,Ovo,Fengmi,Hengyufeng,Ox,Siemens,Oresi,PPTV

In [57]:
brand_map = {'vivo': 'VIVO', '小米': 'Xiaomi', 'OPPO': 'OPPO', '三星': 'Samsung', '酷派': 'Coolpad',
             '联想 ': 'Lenovo', '华为': 'Huawei', '奇酷': 'Qiku', '魅族': 'Meizu', '斐讯': 'Phicomm',
             '中国移动': 'China Mobile', 'HTC': 'HTC', '天语':  'Tianyu', '至尊宝': 'Zhizunbao', 'LG': 'LG',
             '欧博信': 'Osoxin', '优米': 'Umidigi', 'ZUK': 'ZUK', '努比亚': 'Nubia',
             '惠普': 'HP', '尼比鲁': 'Nibiru', '美图': 'Meitu', '乡米': 'Xiangmi',
             '摩托罗拉': 'Motorola', '梦米': 'Mèng mǐ', '锤子': 'Hammer', '富可视': 'InFocus', '乐视': 'LeEco',
             '海信': 'Hisense', '百立丰': 'Bailifeng', '一加': 'OnePlus', '语信': 'Yǔ xìn',
             '海尔': 'Haier', '酷比': 'Coolby', '纽曼': 'Newmann', '波导': 'Waveguide', '朵唯': 'Duowei',
             '聆韵': 'Harmony', 'TCL': 'TCL', '酷珀': 'Cooper', '爱派尔': 'Aipel', 'LOGO': 'LOGO',
             '青葱': 'QCong', '果米': 'Guǒ mǐ', '华硕': 'ASUS', '昂达': 'Onda', '艾优尼': 'Ayuni',
             '康佳': 'Konka', '优购': 'Yougo', '邦华': 'Banghua', '赛博宇华': 'Sai Bo Yuhua',
             '黑米': 'Hēi mǐ', 'Lovme': 'Lovme', '先锋': 'Pioneer', 'E派': 'E Send',
             '神舟': 'Shenzhou', '诺基亚': 'Nokia', '普耐尔': 'Punel', '糖葫芦': 'Tanghulu', '亿通': 'Yitong',
             '欧新': 'Ou Xin', '米奇': 'MITCH', '酷比魔方': 'Rubiks Cube', '蓝魔': 'Lan Mo',
             '小杨树': 'Xiǎo yáng shù', '贝尔丰': 'Belfon', '糯米': 'Nuòmǐ', '米歌': 'Mi Ge',
             'E人E本': 'Eben', '西米': 'Simi', '大Q': 'Big Q', '台电': 'Taipower', '飞利浦': 'Philips',
             '唯米': 'Wei Mi', '大显': 'Daxian', '长虹': 'Changhong', '维图': 'Vitu', '青橙': 'Qing Cheng',
             '本为': 'Běn wèi', '虾米': 'Xiāmi', '夏新': 'Amoi', '帷幄': 'VIVO', '百加': 'Plus',
             'SUGAR': 'Sugar', '欧奇': 'Ouqi', '世纪星': 'Century Star', '智镁': 'Zhimei', '欧比': 'Europa',
             '基伍': 'Kiwish', '飞秒': 'Flying Second', '德赛': 'Desai', '易派': 'Yipai', '谷歌': 'Google',
             '金星数码': 'Venus Digital', '广信': 'Guang Xin', '诺亚信': 'Nuò yǎ xìn', 'MIL': 'MIL',
             '白米': 'Báimǐ', '大可乐': 'Dà kělè', '宝捷讯': 'Baojiexun', '优语': 'Youyu', '首云': 'Shǒu yún',
             '瑞米': 'Remy', '瑞高': 'Rigo', '沃普丰': 'Wopfon', '摩乐': 'Mole', '鲜米': 'Xiān mǐ',
             '凯利通': 'Kellyton', '唯比': 'Weibi', '欧沃': 'Ovo', '丰米': 'Fonmi', '恒宇丰': 'Hengyufeng',
             '奥克斯': 'Oaks', '西门子': 'Siemens', '欧乐迪': 'Oledi', 'PPTV': 'PPTV'}

In [58]:
df3['phone_brand'] = df3['phone_brand'].map(
    brand_map).fillna(df3['phone_brand'])

In [59]:
df3.head()

                   device_id phone_brand device_model
0  1877775838486905856.00000        VIVO          Y13
1 -3766087376657243136.00000      Xiaomi         V183
2 -6238937574958216192.00000        OPPO          R7s
3  8973197758510676992.00000     Samsung        A368t
4 -2015528097870762752.00000      Xiaomi      红米Note2

In [60]:
x4 = df3.device_model.unique()
print(x4)
type(x4)
x4.shape

['Y13' 'V183' 'R7s' ... 'Galaxy Tab S T705' 'IVO 8800' 'U59GT']

(1467,)

In [61]:
# df3.device_model.value_counts().reset_index()

In [62]:
import re
x4a = []
for i in (x4):
    if re.search(u'[\u4e00-\u9fff]', str(i)):
        x4a.append(i)
        
print(x4a)

['红米Note2', '红米Note3', '大神F1Plus', 'note顶配版', '星星1号', '红米note', '青春版', '荣耀4A', '魅蓝Note 2', '荣耀7i', '荣耀畅玩4C', '红米2A', '荣耀畅玩5', '荣耀7', '红米1S', '麦芒4', '荣耀6', '荣耀畅玩4X', '荣耀3X畅玩版', '荣耀X2', '魅蓝NOTE', '荣耀6 Plus', '荣耀+', '荣耀畅玩4', '黄金斗士A8', '小米note', '荣耀3C', '小米4C', '红米note增强版', '天鉴W900', '荣耀畅玩5X', '红米2', '大神F1', '魅蓝2', 'Mate 7 青春版', '乐檬K3 Note', '火星一号', '乐檬K3', '联想黄金斗士S8', '大神F2', '魅蓝', '荣耀6 plus', '大神F2全高清版', '灵感XL', '旗舰版', '坚果手机', '红米', '超级手机1 Pro', '畅享5', '魅蓝metal', '超级手机1', '超级手机1s', '荣耀U8860', '纽扣', '荣耀畅玩平板T1', '红辣椒 X1', '春雷HD', 'ivvi 小i', '荣耀畅玩4C运动版', '麦芒3', '小鲜2', '大器2', '锋尚', '大神X7', '小苹果', '乐玩', '大神Note3', '么么哒3N', '锋尚Pro', '红辣椒', '荣耀3X', '三星big foot', '荣耀3C畅玩版', 'ivvi 小骨Pro', '红辣椒XM', '远航3', 'My 布拉格', 'metal 标准版', '畅享5S', '红辣椒Note', '锋尚Max', '2016版 Galaxy A9', '红牛V5', '2016版 Galaxy A5', '锋尚2', '金钢', '野火S', '2016版 Galaxy A7', '红米3', '小辣椒 X3', '荣耀平板T1-823L', '大神Note', '7295A青春版', '大Q Note', '么么哒', '小辣椒 M2', '黄金斗士Note8', '炫影S+', '风华3', 'TALK 7X四核', '2016版 Galaxy J7', '天鉴T1', '土星一号', '麦芒3S', '飞马', '联想VIBE X2', '威武3', '红辣椒任性版 Plus', '小辣椒 9', '大观4', '超级手机Max', '星星2号', '雷霆战机', '威武3C', '倾城L3', 'Z9 mini 精英版', '小辣椒S1', '小辣椒 5', 'T03锋至版', '乐玩2C', '么么哒3S', '乐檬K31', '黄金斗士S8畅玩版', '时尚手机', '大神1s', '倾城L3C', '小辣椒 4', 'Xperia Z1 炫彩版', '微客', '黄金斗士青春版', '红辣椒NX Plus', '小鲜3', '小星星', '大器3', '小辣椒 6', '金刚II', '中兴远航3', 'Axon天机', '青漾3', '小辣椒 3', '旋影90w', '小辣椒 7', '醉享', '渴望HD', '小辣椒 M3', '飞马3', '领世旗舰3', '小辣椒X4', '红辣椒Note3', '天鉴W808', '天鉴W900S', '大观铂顿', '魅蓝Note3', 'Razr V锋芒', '火星一号探索版', 'Moto X极', '魔镜 X5', '小章鱼', '乐檬3', '乐檬X3', '飞马2 Plus']

In [63]:
x4adf = pd.DataFrame(x4a, columns=['zh'])
x4adf.reset_index(drop=True, inplace=True)
x4adf.head()

         zh
0   红米Note2
1   红米Note3
2  大神F1Plus
3   note顶配版
4      星星1号

In [64]:
x4adf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 161 entries, 0 to 160
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   zh      161 non-null    object
dtypes: object(1)
memory usage: 1.4+ KB

In [65]:
# # COMMENT OUT AFTER RUNNING TO PREVENT CROSSING USAGE LIMITS FOR THE API

# y4a=[]

# for i in x4a:
#     z4a = translator.translate(i)
#     y4a.append(z4a)

# model_eng_dict = dict(zip(x4a, y4a))

# print(model_eng_dict)

In [66]:
model_eng_dict = {'红米Note2': 'Redmi Note2 ', '红米Note3': 'Redmi Note3 ', 
                  '大神F1Plus': 'Daichi F1PLUS ', 'note顶配版': 'Note Pro ',
                  '星星1号': 'Star 1 ', '红米note': 'Redmi Note ',
                  '青春版': 'Youth Edition ', '荣耀4A': 'Honor 4A ',
                  '魅蓝Note 2': 'Charm blue note 2 ', '荣耀7i': 'Honor 7i ',
                  '荣耀畅玩4C': 'Honor play 4C ', '红米2A': 'Redmi 2a ', '荣耀畅玩5': 'Honor fun 5 ',
                  '荣耀7': 'Honor 7 ', '红米1S': 'Redmi 1s ', '麦芒4': 'Mai Mang 4 ',
                  '荣耀6': 'Honor6 ', '荣耀畅玩4X': 'Honor play 4X ', '荣耀3X畅玩版': 'Honor 3X play version ',
                  '荣耀X2': 'Honor X2 ', '魅蓝NOTE': 'Charm blue note ', '荣耀6 Plus': 'Honor 6 Plus ',
                  '荣耀+': 'Honor + ', '荣耀畅玩4': 'Honor play 4 ', '黄金斗士A8': 'Golden Fighter A8 ',
                  '小米note': 'Xiaomi Note ', '荣耀3C': 'Honor 3C ', '小米4C': 'Xiaomi 4C ',
                  '红米note增强版': 'Redmi Note Enhancement ', '天鉴W900': 'Tianjian W900 ',
                  '荣耀畅玩5X': 'Honor play 5X ', '红米2': 'Redmi 2 ', '大神F1': 'Daichi F1 ',
                  '魅蓝2': 'Charm blue 2 ', 'Mate 7 青春版': 'Mate 7 Youth Edition ', '乐檬K3 Note': 'Lemon K3 Note ',
                  '火星一号': 'Mars 1 ', '乐檬K3': 'Lemon K3 ', '联想黄金斗士S8': 'Lenovo Gold Fighter S8 ',
                  '大神F2': 'Daichi F2 ', '魅蓝': 'Charm blue ', '荣耀6 plus': 'Honor 6 Plus ',
                  '大神F2全高清版': 'Great God F2 Full HD Edition ', '灵感XL': 'Inspiration XL ',
                  '旗舰版': 'Ultimate ', '坚果手机': 'Nut mobile phone ', '红米': 'Redmi ',
                  '超级手机1 Pro': 'Superphone 1 Pro ', '畅享5': 'Enjoy 5 ', '魅蓝metal': 'Charm blue metal ',
                  '超级手机1': 'Superphone 1 ', '超级手机1s': 'Superphone 1S ', '荣耀U8860': 'Honor U8860 ',
                  '纽扣': 'Button ', '荣耀畅玩平板T1': 'Honor play tablet T1 ', '红辣椒 X1': 'Red pepper x1 ',
                  '春雷HD': 'Spring thunder HD ', 'ivvi 小i': 'IVVI Small I ', '荣耀畅玩4C运动版': 'Honor play 4C sports version ',
                  '麦芒3': 'Mai Mang 3 ', '小鲜2': 'Sediment 2 ', '大器2': 'Larger 2 ', '锋尚': 'Arrow ',
                  '大神X7': 'Great God x7 ', '小苹果': 'Small apple ', '乐玩': 'Fun ', '大神Note3': 'Daichi NOTE3 ',
                  '么么哒3N': 'What? 3N ', '锋尚Pro': 'Feng Shang PRO ', '红辣椒': 'Red chili ', '荣耀3X': 'Honor 3X ',
                  '三星big foot': 'Samsung Big Foot ', '荣耀3C畅玩版': 'Honor 3C fun version ',
                  'ivvi 小骨Pro': 'IVVI small bone Pro ', '红辣椒XM': 'Red pepper xm ', '远航3': 'Voyage 3 ',
                  'My 布拉格': 'My Prague ', 'metal 标准版': 'Metal Standard Edition ', '畅享5S': 'Enjoy 5S ',
                  '红辣椒Note': 'Red pepper Note ', '锋尚Max': 'Max ', '2016版 Galaxy A9': '2016 version of Galaxy A9 ',
                  '红牛V5': 'Red cattle V5 ', '2016版 Galaxy A5': '2016 version of Galaxy A5 ',
                  '锋尚2': 'Front ', '金钢': 'Jin Gang ', '野火S': 'Wildfire S ', '2016版 Galaxy A7': '2016 version of Galaxy A7 ',
                  '红米3': 'Redmi 3 ', '小辣椒 X3': 'Small pepper x3 ', '荣耀平板T1-823L': 'Honor Tablet T1-823L ',
                  '大神Note': 'Daijin Note ', '7295A青春版': '7295A Youth Edition ', '大Q Note': 'Big Q Note ',
                  '么么哒': 'muah ', '小辣椒 M2': 'Small pepper M2 ', '黄金斗士Note8': 'Gold Fighter Note8 ',
                  '炫影S+': 'Dazzling S + ', '风华3': 'Fenghua 3 ', 'TALK 7X四核': 'Talk 7X quad-core ',
                  '2016版 Galaxy J7': '2016 version of Galaxy J7 ', '天鉴T1': 'Tianjian T1 ', '土星一号': 'Saturn No. 1 ',
                  '麦芒3S': 'Mai Mang 3S ', '飞马': 'Fly horse ', '联想VIBE X2': 'Lenovo Vibe X2 ', '威武3': 'Mighty 3 ',
                  '红辣椒任性版 Plus': 'Red pepper edition PLUS ', '小辣椒 9': 'Small pepper 9 ', '大观4': 'Large view 4 ',
                  '超级手机Max': 'Superphone MAX ', '星星2号': 'Star 2 ', '雷霆战机': 'Thunder fighter ', '威武3C': 'Merry 3C ',
                  '倾城L3': 'Allure L3 ', 'Z9 mini 精英版': 'Z9 MINI Elite Edition ', '小辣椒S1': 'Small pepper s1 ',
                  '小辣椒 5': 'Small pepper 5 ', 'T03锋至版': 'T03 front to version ', '乐玩2C': "Let's play 2C ",
                  '么么哒3S': 'What? 3s ', '乐檬K31': 'Lemon K31 ', '黄金斗士S8畅玩版': 'Gold Fighter S8 Play Edition ',
                  '时尚手机': 'Fashion phone ', '大神1s': 'Daichi 1s ', '倾城L3C': 'Allure L3C ',
                  '小辣椒 4': 'Small pepper 4 ', 'Xperia Z1 炫彩版': 'Xperia Z1 colorful version ',
                  '微客': 'Micro ', '黄金斗士青春版': 'Gold Fighter Youth Edition ', '红辣椒NX Plus': 'Red pepper nx plus ',
                  '小鲜3': 'Fresh fresh 3 ', '小星星': 'little stars ', '大器3': 'Male 3 ', '小辣椒 6': 'Small pepper 6 ',
                  '金刚II': 'King Kong II ', '中兴远航3': 'ZTE Yuanhang 3 ', 'Axon天机': 'Axon Tiande ',
                  '青漾3': 'Qingne 3 ', '小辣椒 3': 'Small pepper 3 ', '旋影90w': 'Rocade 90W ',
                  '小辣椒 7': 'Small pepper 7 ', '醉享': 'Drunk ', '渴望HD': 'Desire HD ', '小辣椒 M3': 'Small pepper M3 ',
                  '飞马3': 'Fly hum ', '领世旗舰3': 'Liracial flagship 3 ', '小辣椒X4': 'Small pepper x4 ',
                  '红辣椒Note3': 'Red hot chili Note3 ', '天鉴W808': 'Tianjian W808 ', '天鉴W900S': 'Tianjian W900S ',
                  '大观铂顿': 'Grand Platinum ', '魅蓝Note3': 'Charm blue note3 ', 'Razr V锋芒': 'Razr V ',
                  '火星一号探索版': 'Mars 1 exploration version ', 'Moto X极': 'Moto X ', '魔镜 X5': 'Mirror X5 ',
                  '小章鱼': 'Small octopus ', '乐檬3': 'Lemon 3 ', '乐檬X3': 'Lemon X3 ', '飞马2 Plus': 'Feima 2 Plus '}

In [67]:
df3['device_model'] = df3['device_model'].map(model_eng_dict).fillna(df3['device_model'])

In [68]:
df3.head()

                   device_id phone_brand  device_model
0  1877775838486905856.00000        VIVO           Y13
1 -3766087376657243136.00000      Xiaomi          V183
2 -6238937574958216192.00000        OPPO           R7s
3  8973197758510676992.00000     Samsung         A368t
4 -2015528097870762752.00000      Xiaomi  Redmi Note2

In [69]:
pbx = df3['phone_brand'].value_counts()

dfx = pd.DataFrame(pbx)  # dfx = pbx.to_frame() - also works
dfx.reset_index(inplace=True)
dfx.rename(columns={'index': 'phone_brand',
           'phone_brand': 'counts'}, inplace=True)
dfx.head(10)

  phone_brand  counts
0      Xiaomi   21645
1     Samsung   19211
2      Huawei   15181
3        VIVO    7597
4        OPPO    6717
5       Meizu    5531
6     Coolpad    3979
7         HTC    1272
8      Lenovo     982
9       LeEco     841

In [70]:
df3['device_model'].value_counts()

Redmi Note                 3500
MI 3                       2739
MI 2S                      2547
Galaxy Note 3              2378
MI 4                       2256
                           ...
a218t                         1
BM003                         1
9300-M9                       1
L700T                         1
Galaxy S2 Epic 4G Touch       1
Name: device_model, Length: 1466, dtype: int64

In [71]:
df_semi = pd.merge(df3, df2, on='device_id', how='left')
df_semi.head()

                   device_id phone_brand  device_model gender  age group
0  1877775838486905856.00000        VIVO           Y13    NaN  NaN   NaN
1 -3766087376657243136.00000      Xiaomi          V183    NaN  NaN   NaN
2 -6238937574958216192.00000        OPPO           R7s    NaN  NaN   NaN
3  8973197758510676992.00000     Samsung         A368t    NaN  NaN   NaN
4 -2015528097870762752.00000      Xiaomi  Redmi Note2     NaN  NaN   NaN

In [72]:
df_semi.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 87726 entries, 0 to 87725
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   device_id     87726 non-null  float64
 1   phone_brand   87726 non-null  object
 2   device_model  87726 non-null  object
 3   gender        74617 non-null  object
 4   age           74617 non-null  float64
 5   group         74617 non-null  object
dtypes: float64(2), object(4)
memory usage: 4.7+ MB

In [73]:
df_semi.nunique()

device_id       87726
phone_brand       115
device_model     1466
gender              2
age                85
group              12
dtype: int64

In [74]:
df_semi.isna().sum()

device_id           0
phone_brand         0
device_model        0
gender          13109
age             13109
group           13109
dtype: int64

In [75]:
df_final = pd.merge(df1, df_semi, on='device_id', how='left')
df_final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3252950 entries, 0 to 3252949
Data columns (total 12 columns):
 #   Column        Dtype
---  ------        -----
 0   event_id      int64
 1   device_id     float64
 2   timestamp     object
 3   longitude     float64
 4   latitude      float64
 5   city          object
 6   state         object
 7   phone_brand   object
 8   device_model  object
 9   gender        object
 10  age           float64
 11  group         object
dtypes: float64(4), int64(1), object(7)
memory usage: 322.6+ MB

In [76]:
df_final.head()

,event_id,device_id,timestamp,longitude,latitude,city,state,phone_brand,device_model,gender,age,group
0,2765368,2973347786994914304.00000,2016-05-07 22:52:05,77.22568,28.73014,Delhi,Delhi,Umidigi,UIMI3,M,35.00000,M32-38
1,2955066,4734221357723754496.00000,2016-05-01 20:44:16,88.38836,22.66033,Calcutta,WestBengal,VIVO,X5M,M,30.00000,M29-31
2,605968,-3264499652692492800.00000,2016-05-02 14:23:04,77.25681,28.75791,Delhi,Delhi,Xiaomi,MI pad,M,24.00000,M23-26
3,448114,5731369272434022400.00000,2016-05-03 13:21:16,80.34361,13.15333,Chennai,TamilNadu,HTC,One max,M,26.00000,M23-26
4,665740,338888002570799936.00000,2016-05-06 03:51:05,85.99774,23.84261,Bokaro,Jharkhand,Xiaomi,MI 4,M,30.00000,M29-31

In [77]:
df_final.nunique()

event_id        3252950
device_id         60865
timestamp        588126
longitude         60095
latitude          60177
city                933
state                32
phone_brand         105
device_model       1385
gender                2
age                  85
group                12
dtype: int64

In [78]:
df_final.isna().sum()

event_id        0
device_id       0
timestamp       0
longitude       0
latitude        0
city            0
state           0
phone_brand     0
device_model    0
gender          0
age             0
group           0
dtype: int64

In [79]:
df_final_D = df_final[(df_final.state == 'Delhi')]
df_final_D.reset_index(drop=True, inplace=True)

In [80]:
df_final_D.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 751797 entries, 0 to 751796
Data columns (total 12 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   event_id      751797 non-null  int64
 1   device_id     751797 non-null  float64
 2   timestamp     751797 non-null  object
 3   longitude     751797 non-null  float64
 4   latitude      751797 non-null  float64
 5   city          751797 non-null  object
 6   state         751797 non-null  object
 7   phone_brand   751797 non-null  object
 8   device_model  751797 non-null  object
 9   gender        751797 non-null  object
 10  age           751797 non-null  float64
 11  group         751797 non-null  object
dtypes: float64(4), int64(1), object(7)
memory usage: 68.8+ MB

In [81]:
df_final_D.isna().sum()

event_id        0
device_id       0
timestamp       0
longitude       0
latitude        0
city            0
state           0
phone_brand     0
device_model    0
gender          0
age             0
group           0
dtype: int64

In [82]:
df_final_D.nunique()

event_id        751797
device_id         4909
timestamp       412099
longitude         4795
latitude          4789
city                10
state                1
phone_brand         61
device_model       631
gender               2
age                 69
group               12
dtype: int64

In [83]:
df_final.to_csv("Capstone_Final_Data.csv",encoding='utf-8', index=False)
df_final_D.to_csv("Capstone_Final_Data_Delhi.csv",encoding='utf-8', index=False)